@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*usar o * significa que os elementos devem ter por padrão os atributos declarados aqui para toda a aplicação*/
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: #000;
    color: #fff;
}

/*desaiva a cor do link, desativa a cor do link quando colocar o cursor em cima, desativa a cor quando cicado no link e voltado na página*/
a, a:hover, a:visited {
    color: unset;
    text-decoration: none;    
}

/*alinhar elementos do header ao centro*/
header {
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
    height: 220px;
    display: flex; /*torna o elemento um flex container automaticamente transformando todos os seus filhos diretos em flex itens ■ ■ ■ ■*/
    align-items: center; /*alinha verticalmente os elementos ao centro do header*/
    justify-content: center; /*alinha horizontalmente os elementos ao centro do header*/
}

/*alinhar elementos do container ao centro*/
.dsmeta-logo-container {
    display: flex; /*Torna o elemento um flex container automaticamente transformando todos os seus filhos diretos em flex itens ■ ■ ■ ■*/
    flex-direction: column; /*coloca os elementos do flex container uma a cada linha*/
    align-items: center; /*alinha os elementos ao centro do container*/
}

/*dentro do container selecionado a class você vai colocar atributos na tag <img>*/
.dsmeta-logo-container img{
    width: 235px;
}

/*dentro do container selecionado a class você vai colocar atributos na tag <h1>*/
.dsmeta-logo-container h1 {
    margin-top: 15px;
    font-size: 24px;
}

/*dentro do container selecionado a class você vai colocar atributos na tag <p>*/
.dsmeta-logo-container p {
    font-size: 14px;
    font-weight: 300;
}

.dsmeta-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.dsmeta-card {
    background-color: #102347;
    border-radius: 10px;
    padding: 30px 10px;
}

/*quando colocar apenas duas configuração para o atributo ele considera o primeiro paramentro vertical e o segundo parametro horizontal,
ou seja (40px para top e bottom) e (10px para left e right)*/
#sales{
    padding: 40px 10px;
}

.dsmeta-sales-title{
    color: #676FFF;
    font-size: 24px;
    margin-bottom: 20px;
}

.dsmeta-form-control{
    width: 100%;
    height: 46px;
    background-color: #1B2531;
    border: 1px solid #384459;
    border-radius: 5px;
    color: #9AAABE;
    padding: 0 20px;
    font-size: 20px;
}

.dsmeta-form-control-container{
    margin-bottom: 16px;
    max-width: 300px;
}

.dsmeta-sales-table{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.dsmeta-sales-table thead {
    height: 55px;
    font-size: 16px;
    color: #E9E9E9;
    font-weight: 700;
}

.dsmeta-sales-table tbody{
    font-size: 14px;
    font-weight: 400;
    color: #CFCFCF;
    text-align: center;
}

.dsmeta-sales-table tbody tr {
    height: 74px;
    border-top: 1px solid #5F6E82;
}

.dsmeta-sales-table tbody tr:hover > td {
    background-color: #384459;
}

.dsmeta-sales-table tbody tr:nth-child(odd) {
    background-color: #242C3B;
}

.dsmeta-red-btn-container{
    display: flex;
    justify-content: center;
}

.dsmeta-red-btn{
    height: 45px;
    width: 45px;
    background: rgba(255, 107, 114, 0.1);
    border: 1px solid #FF6B72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dsmeta-red-btn img {
    width: 19px;
}

.show576 {
    display: none;
}

.show992 {
    display: none;
}

@media (min-width: 576px) {

    .show576 {
        display: table-cell;
    }

    .dsmeta-card {
        padding: 35px;
    }

    .dsmeta-sales-table tbody tr {
        height: 55px;
    }

    .dsmeta-sales-table tbody{ 
        font-size: 18px;
    }
}

@media (min-width: 992px) {

    .show992 {
        display: table-cell;
    }
}